.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  vertical-align: top;
}
